{% extends 'travel/base.html' %}
{% block content %}

<div class="container">
    <h1>Маршрут</h1>
    <div class="row">
        <table class="table table-striped">
            <tr>
                <th>Название</th>
                <th>Город отправления</th>
                <th>Город прибытия</th>
                <th>Время в пути</th>
                <th>Список поездов по маршруту</th>
                <th>&nbsp;</th>
            </tr>

            <tr>
                <td>
                    {{ object.name }}
                </td>
                <td>
                    {{ object.departure_city }}
                </td>
                <td>
                    {{ object.arrival_city }}
                </td>
                <td>
                    {{ object.travel_time }}
                </td>
                <td>
                    {% for train in object.trains.all %}
                        <p>{{train}}</p>
                    {% endfor %}
                </td>
                <td>
                    {% if user.is_authenticated %}
                    <a href="{% url 'delete' pk=object.pk %}">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </a>
                    {% endif %} <td>&nbsp;</td>
                </td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}